<h1>Input Text</h1>
<p>
  Name: {{ nameField.value }} {{ nameField.valid }}
  <input
    [class.is-valid]="isNameFieldValid"
    [class.is-invalid]="isNameFieldInvalid"
    type="text"
    [formControl]="nameField"/>

  <button [disabled]="nameField.invalid" (click)="getNameValue()">Get Value</button>
  <!-- <code>
    <pre>
      {{ nameField | json }}
    </pre>
  </code> -->
</p>

<div class="messages" [class.active]="isNameFieldInvalid">
  <p>
    <!-- touched permite capturar si el input fue tocado -->
    <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido</strong>
  </p>

  <p>
    <!-- touched permite capturar si el input fue tocado -->
    <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">debe tener maximo 10 c</strong>
  </p>
</div>

<p>
  Email: {{ emailField.value }}
  <input type="email"  [formControl]="emailField"/>
</p>

<p>
  Phone: {{ phoneField.value }}
  <input type="tel"  [formControl]="phoneField"/>
</p>

<p>
  Color: {{ colorField.value }}
  <input type="color" [formControl]="colorField"/>
</p>

<p>
  Date: {{ dateField.value }}
  <input type="date" [formControl]="dateField"/>
</p>

<p>
  Month: {{ monthField.value }}
  <input type="month" [formControl]="monthField"/>
</p>

<p>
  Age: {{ ageField.value }}
  <input type="number" [formControl]="ageField"/>
</p>

<p>
  Password: {{ passwordField.value }}
  <input type="password" [formControl]="passwordField"/>
</p>

<p>
  Range Price: {{ priceField.value }}
  <input type="range" [formControl]="priceField" min="0" max="100"/>
</p>

<p>
  Wekend: {{ weekField.value }}
  <input type="week" [formControl]="weekField"/>
</p>

<p>
  Date and time: {{ timeField.value }}
  <input type="datetime-local" [formControl]="timeField"/>
</p>

<p>
  
  Search: {{ searchField.value }}
  <input type="search" [formControl]="searchField"/>
</p>

<p>
  
  Description: {{ descriptionField.value }}
  <textarea type="text" [formControl]="descriptionField">
  </textarea>
</p>

<h1>Selects</h1>

<p>
  Category: {{ categoryField.value }}
  <select [formControl]="categoryField">
    <option value="category-1">Category 1</option>
    <option value="category-2">Category 2</option>
    <option value="category-3">Category 3</option>
    <option value="category-4">Category 4</option>
  </select>
</p>

<p>
  Tags: {{ tagField.value }}
  <!-- Select con muliple opcion-->
  <select [formControl]="tagField" multiple>
    <option value="tag-1">Tag 1</option>
    <option value="tag-2">Tag 2</option>
    <option value="tag-3">Tag 3</option>
    <option value="tag-4">Tag 4</option>
  </select>
</p>

<h1>Checkbox</h1>

<p>
  Agree: {{ agreeField.value }}
  <input type="checkbox" [formControl]="agreeField"/>
</p>


<p>
  Gender: {{ genderField.value }}
  <label>
    <input name="gender" value="male" type="radio" [formControl]="genderField"/>
    Male
  </label>
  <label>
    <input name="gender" value="female" type="radio" [formControl]="genderField"/>
    Female
  </label>
  <label>
    <input name="gender" value="other" type="radio" [formControl]="genderField"/>
    Other
  </label>
</p>

<p>
  Zone: {{ zoneField.value }}
  <label>
    <input name="zone" value="zone-1" type="radio" [formControl]="zoneField"/>
    Zona 1
  </label>
  <label>
    <input name="zone" value="zone-2" type="radio" [formControl]="zoneField"/>
    Zona 2
  </label>
  <label>
    <input name="zone" value="zone-3" type="radio" [formControl]="zoneField"/>
    Zona 3
  </label>
</p>



